
@{
    ViewBag.Title = "文档管理";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@section js{
    <script src="~/_theme/layui-v1.0.3/layui/lay/modules/jsGrid.js"></script>
    <script>
        layui.use(['tree', 'layer', 'jsGrid', 'ejq'], function () {
            var layer = layui.layer, $ = layui.jquery, jsGrid = layui.jsGrid;
            var $sizeDemo = $(".site-demo");
            var $gridTable = $(".gridtable");
            var $buttonBox = $(".site-demo-button");
            var btnAdd = $("#btnAdd");
            var btnEdit = $("#btnEdit");
            var btnAdd = $("#btnAdd");
            var btnDel = $("#btnDel");
            layui.tree({
                elem: '#demo1' //指定元素
              , target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
              , click: function (item) { //点击节点回调
                  layer.msg('当前节名称：' + item.name + '<br>全部参数：' + JSON.stringify(item));
                  console.log(item);
              }
              , nodes: [ //节点
                {
                    name: '常用文件夹'
                  , id: 1
                  , alias: 'changyong'
                  , children: [
                    {
                        name: '所有未读（设置跳转）'
                      , id: 11
                      , href: 'http://www.layui.com/'
                      , alias: 'weidu'
                    }, {
                        name: '置顶邮件'
                      , id: 12
                    }, {
                        name: '标签邮件'
                      , id: 13
                    }
                  ]
                }, {
                    name: '我的邮箱'
                  , id: 2
                  , spread: true
                  , children: [
                    {
                        name: 'QQ邮箱'
                      , id: 21
                      , spread: true
                      , children: [
                        {
                            name: '收件箱'
                          , id: 211
                          , children: [
                            {
                                name: '所有未读'
                              , id: 2111
                            }, {
                                name: '置顶邮件'
                              , id: 2112
                            }, {
                                name: '标签邮件'
                              , id: 2113
                            }
                          ]
                        }, {
                            name: '已发出的邮件'
                          , id: 212
                        }, {
                            name: '垃圾邮件'
                          , id: 213
                        }
                      ]
                    }, {
                        name: '阿里云邮'
                      , id: 22
                      , children: [
                        {
                            name: '收件箱'
                          , id: 221
                        }, {
                            name: '已发出的邮件'
                          , id: 222
                        }, {
                            name: '垃圾邮件'
                          , id: 223
                        }
                      ]
                    }
                  ]
                }
                , {
                    name: '收藏夹'
                  , id: 3
                  , alias: 'changyong'
                  , children: [
                    {
                        name: '爱情动作片'
                      , id: 31
                      , alias: 'love'
                    }, {
                        name: '技术栈'
                      , id: 12
                      , children: [
                        {
                            name: '前端'
                          , id: 121
                        }
                        , {
                            name: '全端'
                          , id: 122
                        }
                      ]
                    }
                  ]
                }
              ]
            });

            //生成一个模拟树
            var createTree = function (node, start) {
                node = node || function () {
                    var arr = [];
                    for (var i = 1; i < 10; i++) {
                        arr.push({
                            name: i.toString().replace(/(\d)/, '$1$1$1$1$1$1$1$1$1')
                        });
                    }
                    return arr;
                }();
                start = start || 1;
                layui.each(node, function (index, item) {
                    if (start < 10 && index < 9) {
                        var child = [
                          {
                              name: (1 + index + start).toString().replace(/(\d)/, '$1$1$1$1$1$1$1$1$1')
                          }
                        ];
                        node[index].children = child;
                        createTree(child, index + start + 1);
                    }
                });
                return node;
            };


            //创建grid
            var test = new jsGrid({
                id: "testGrid",
                width: "100%",
                doubleHead: true,
                height: $(window).height() - $buttonBox.height() - 100,
                "class": "gridtable",
                columns: [
               {
                          title: "标题",
                          indexname: "Title",
                          textalign: 'center',
                          width: "50",
                          formatter:
                          function (val, rowdata, rowindex, td, trL, trR) {
                              return '<input value="'+rowdata.Id+'" type="checkbox" />';
                          }
                 },
                {
                    title: "编号",
                    indexname: "Id",
                    textalign: 'left',
                    width: 100,
                },
                {
                    title: "标题",
                    indexname: "Title",
                    textalign: 'left',
                    width: 500,
                    formatter:
                    function (val, rowdata, rowindex, td, trL, trR) {
                        return '<a target="_blank" href="' + $.action.url("PageDCAdd", null, "DocContent", "AdminSite") + "?id=" + rowdata.Id + '">' + val + '</a>';
                    }
                },
                {
                    title: "创建人",
                    indexname: "Creator",
                    textalign: 'center',
                    width: 100
                },
                {
                    title: "创建时间",
                    indexname: "CreateTime",
                    textalign: 'center',
                    width: 100
                }]
            })

            btnAdd.click(function () {
                window.open(layui.ejq.action.url("PageDCAdd", null, "DocContent", "AdminSite"));
            })
            btnDel.click(function () {
                $.ajax({
                    url: $.action.url("DC_Delete", null, "DocContent", "AdminSite"),
                    data: {},
                    success: function (msg) {
                        bindGird();
                    },
                    error: function (msg) {
                        console.log(msg);
                    }
                })
            })
            bindGird();
            function bindGird() {
                $.ajax({
                    url: $.action.url("Dc_GetList", null, "DocContent", "AdminSite"),
                    data: {},
                    success: function (msg) {
                        var datas = msg.ResultInfo.DocList;
                        test.RenderTo('testdiv');
                        test.dataStore = datas;
                        test.ShowData();
                    },
                    error: function (msg) {
                        console.log(msg);
                    }
                })
            }
        });
    </script>
}
<div style="display: inline-block; width: 180px; height:calc(100% - 26px); padding: 10px; border: 1px solid #ddd; overflow: auto; margin:0">
    <ul id="demo1"></ul>
</div>
<div style="display: inline-block; width: calc(100%-260px); height:calc(100% - 26px); padding: 10px; border: 0; overflow: auto; margin:0" class="gridtable">
    <fieldset class="layui-elem-field site-demo-button">
        <legend>操作</legend>
        <div>
            <button class="layui-btn layui-btn-primary">全选/反选</button>
            <button id="btnAdd" class="layui-btn">添加</button>
            <button id="btnEdit" class="layui-btn layui-btn-normal">编辑</button>
            <button id="btnDel" class="layui-btn layui-btn-warm">删除</button>
        </div>
    </fieldset>
    <div id="testdiv"></div>
</div>