body .leifeng-rank span.forums a img {
    width: 64px;
    height: 64px;
}

body .leifeng-rank span.forums i {
    bottom: 8px;
}

body a.logo {
    top: 13px !important;
}

body .forums img {
}

body .forums .today {
    color: #999;
}

body .forums .today-num {
    color: #f60;
}

body .code .container {
    word-break: break-all;
}

body .syntaxhighlighter {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

body .gutter {
    display: none;
}

body .syntaxhighlighter td.code .line {
    font-size: 12px !important;
}

body .syntaxhighlighter .keyword {
    color: #cc86d4 !important;
}

body .syntaxhighlighter td.code .line {
    line-height: 1.8 !important;
}

body .fly-list-one li { /* margin: 0 10px; */
    text-align: left !important;
}
body a.avatar i {
  font-style:initial !important;
  margin-bottom:2px;
}
@media screen and (max-width: 750px) {
    body a.avatar {
        display: block !important;
        position: absolute;
        right: 80px;
        top: -6px;
        width:80px;
    }
    body a.avatar img {
        width:35px !important;
        height:35px !important
    }
    body a.avatar cite {
            display: none !important;
    }

    body .search-category {
        display:block !important
    }

    body .search-category span {
          
    }

    body .search-category span a {
          padding: 1px 6px !important;
          font-size:12px;
    }
    body .jie-add {
        float: right !important;
    }
    body .pagination .page_number{
        display:none
    }
    body .pagination {
      text-align:center !important
    }
     body .pagination span{
         display:none
     }
}
@media screen and (max-width: 350px) {
    body .search-category span a {
          padding: 1px 3px !important;
          font-size:11px;
    }
}