body .leifeng-rank span.forums a img {
    width: 64px;
    height: 64px;
}

body .leifeng-rank span.forums i {
    bottom: 8px;
}

body a.logo {
    top: 13px !important;
}

body .forums img {
}

body .forums .today {
    color: #999;
}

body .forums .today-num {
    color: #f60;
}

body .code .container {
    word-break: break-all;
}

body .syntaxhighlighter {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

body .gutter {
    display: none;
}

body .syntaxhighlighter td.code .line {
    font-size: 12px !important;
}

body .syntaxhighlighter .keyword {
    color: #cc86d4 !important;
}

body .syntaxhighlighter td.code .line {
    line-height: 1.8 !important;
}
