
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@section js{
<script src="~/_theme/layui-v1.0.3/layui/lay/modules/jsGrid.js"></script>
    <script>
        layui.use(['tree', 'layer'], function () {
            var layer = layui.layer
            , $ = layui.jquery;

            layui.tree({
                elem: '#demo1' //指定元素
              , target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
              , click: function (item) { //点击节点回调
                  layer.msg('当前节名称：' + item.name + '<br>全部参数：' + JSON.stringify(item));
                  console.log(item);
              }
              , nodes: [ //节点
                {
                    name: '常用文件夹'
                  , id: 1
                  , alias: 'changyong'
                  , children: [
                    {
                        name: '所有未读（设置跳转）'
                      , id: 11
                      , href: 'http://www.layui.com/'
                      , alias: 'weidu'
                    }, {
                        name: '置顶邮件'
                      , id: 12
                    }, {
                        name: '标签邮件'
                      , id: 13
                    }
                  ]
                }, {
                    name: '我的邮箱'
                  , id: 2
                  , spread: true
                  , children: [
                    {
                        name: 'QQ邮箱'
                      , id: 21
                      , spread: true
                      , children: [
                        {
                            name: '收件箱'
                          , id: 211
                          , children: [
                            {
                                name: '所有未读'
                              , id: 2111
                            }, {
                                name: '置顶邮件'
                              , id: 2112
                            }, {
                                name: '标签邮件'
                              , id: 2113
                            }
                          ]
                        }, {
                            name: '已发出的邮件'
                          , id: 212
                        }, {
                            name: '垃圾邮件'
                          , id: 213
                        }
                      ]
                    }, {
                        name: '阿里云邮'
                      , id: 22
                      , children: [
                        {
                            name: '收件箱'
                          , id: 221
                        }, {
                            name: '已发出的邮件'
                          , id: 222
                        }, {
                            name: '垃圾邮件'
                          , id: 223
                        }
                      ]
                    }
                  ]
                }
                , {
                    name: '收藏夹'
                  , id: 3
                  , alias: 'changyong'
                  , children: [
                    {
                        name: '爱情动作片'
                      , id: 31
                      , alias: 'love'
                    }, {
                        name: '技术栈'
                      , id: 12
                      , children: [
                        {
                            name: '前端'
                          , id: 121
                        }
                        , {
                            name: '全端'
                          , id: 122
                        }
                      ]
                    }
                  ]
                }
              ]
            });


            //生成一个模拟树
            var createTree = function (node, start) {
                node = node || function () {
                    var arr = [];
                    for (var i = 1; i < 10; i++) {
                        arr.push({
                            name: i.toString().replace(/(\d)/, '$1$1$1$1$1$1$1$1$1')
                        });
                    }
                    return arr;
                }();
                start = start || 1;
                layui.each(node, function (index, item) {
                    if (start < 10 && index < 9) {
                        var child = [
                          {
                              name: (1 + index + start).toString().replace(/(\d)/, '$1$1$1$1$1$1$1$1$1')
                          }
                        ];
                        node[index].children = child;
                        createTree(child, index + start + 1);
                    }
                });
                return node;
            };
        });
    </script>
<script type="text/javascript">
var test = new JSGrid({
    id: "testGrid",
    width: 600,
    height: 300,
    doubleHead: true,
    rowSpan: true,
    "class":"gridtable",
    rowSpanKeys: ["id", "name"],
    columns: [{
        title: "<div align=\"center\"><span title=\"详细\"  style=\"text-align:center ;\">ID</span></div>",
        indexname: "id",
        textalign: 'left',
        width: 100,
        rowSpanRow: true,
        locked: true,
        formatter: 　　
        function(val, rowdata, rowindex, td, trL, trR) {
            return '<img src="search.gif" height=18px width=20px/>';
        }
    },
    {
        title: "名字",
        indexname: "name",
        textalign: 'center',
        width: 100,
        locked: true,
        formatter: 　　
        function(val, rowdata, rowindex) {
            return val;
        }
    },
    {
        title: "<div align=\"center\"><span title=\"ID\"  style=\"text-align:center ;\">爱好</span></div>",
        indexname: "name2",
        textalign: 'center',
        width: 100,
        locked: true,
        formatter: 　　
        function(val, rowdata, rowindex) {
            return val;
        }
    },
    {
        title: "<div align=\"center\"><span title=\"ID\"  style=\"text-align:center ;\">xxx</span></div>",
        indexname: "name3",
        textalign: 'left',
        width: 100,
        locked: false
    },
    {
        title: "<div align=\"center\"><span title=\"cc\"  style=\"text-align:center ;\">cc</span></div>",
        indexname: "name4",
        textalign: 'right',
        width: 100,
        locked: false
    },
    {
        title: "<div align=\"center\"><span title=\"cc\"  style=\"text-align:center ;\">cc</span></div>",
        indexname: "name5",
        textalign: 'right',
        width: 100,
        doubleHeadNum: 2,
        doubleHeadtitle: "kkkoooo",
        locked: false
    },
    {
        title: "<div align=\"center\"><span title=\"cc\"  style=\"text-align:center ;\">cc</span></div>",
        indexname: "name6",
        textalign: 'right',
        width: 100,
        locked: false
    },
    {
        title: "<div align=\"center\"><span title=\"cc\"  style=\"text-align:center ;\">cc</span></div>",
        indexname: "name7",
        textalign: 'right',
        width: 100,
        locked: false
    }]
})

//数据源定义
var datas = [   {id:"1",name:"ttts",name2:"ttts2",name3:"asdfsadf",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"},
                {id:"2",name:"ttts",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts1",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts2",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts3",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts4",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts5",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
                ,{id:"3",name:"ttts",name2:"ttts2",name3:"ttts3",name4:"ttts5",name5:"ttts3",name6:"ttts3",name7:"ttts3"}
            ]

    test.RenderTo('testdiv');
    test.dataStore = datas;
    test.ShowData();


</script>

}
<div style="display: inline-block; width: 180px; height:calc(100% - 26px); padding: 10px; border: 1px solid #ddd; overflow: auto; margin:0">
    <ul id="demo1"></ul>
</div>
<div style="display: inline-block; width: calc(100%-260px); height:calc(100% - 26px); padding: 10px; border: 0; overflow: auto; margin:0" class="gridtable">
   <div id="testdiv"></div>
</div>