.syntaxhighlighter td.code .line {
    font-size: 12px !important;
}

.syntaxhighlighter .keyword {
    color: #cc86d4 !important;
}

.syntaxhighlighter td.code .line {
    line-height: 1.8 !important;
}

.site-h1 {
    color: #f60 !important;
}

@media screen and (max-width: 750px) {
    .code .container {
        word-break: break-all;
    }
}

.syntaxhighlighter {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.gutter {
    display: none;
}
#frmSearch {
    position:relative;
    margin-top:8px;
    text-align:center
}
#frmSearch input{
   width:97%;
   margin-left:2px
}
#frmSearch i {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #999;
}