.syntaxhighlighter td.code .line {
    font-size: 12px !important;
}

.syntaxhighlighter .keyword {
    color: #cc86d4 !important;
}

.syntaxhighlighter td.code .line {
    line-height: 1.8 !important;
}

/*.site-h1 {
    color: #f60 !important;
}*/

@media screen and (max-width: 750px) {
    .code .container {
        word-break: break-all;
    }
}

.syntaxhighlighter {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.gutter {
    display: none;
}
#frmSearch {
    position:relative;
    margin-top:5px;
    text-align:center
}
.site-tree .layui-tree li h2 {
   margin:5px !important;
}
#frmSearch input{
   width:97%;
   margin-left:2px
}
#frmSearch i {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #999;
}

.site-float {
    display: block;
    width: 40%;
    float: left
}
.clear {
  clear:both
}

@media screen and (max-width: 1200px) {

    a.logoM {
        display: none !important
    }

    .header .layui-nav {
        left: 0 !important;
    }

        .header .layui-nav .layui-nav-item {
            margin: 0 5px;
        }

    .footer a {
        color: #808080 !important;
    }
}

@media screen and (max-width: 330px) {

    .header .layui-nav * {
        font-size: 12px;
    }
}