@{
    ViewBag.Title = "开源大数据果糖网 (SqlSugar ORM 官网)";
    var downCount = (DateTime.Now - Convert.ToDateTime("2015-1-1")).TotalDays * 5;
    ViewBag.PageNum = 1;
}
@section meta{
    <meta name="keywords" content="SqlSugar ORM,开源大数据果糖网">
    <meta name="description" content="开源大数据果糖网，SqlSugar是一款轻量级、高性能、以及支持.NET 4.+和ASP.NET Core一款ORM框架。另外还支持了MySql、Sqlserver、Sqlite和Oracle四种数据库。" />
}
@section css{

    <link href="~/_theme/css/page/web-index.css?v=@MvcApplication.Version" rel="stylesheet" />
}
<div class="site-zfj site-zfj-anim">
    <i class="layui-icon" style="color: #FBDAC7; color: rgba(255,255,255,.5);"></i>
</div>
<div class="layui-anim site-desc site-desc-anim">
    <p class="web-font-desc">SqlSugar ORM</p>
    <cite>支持多种数据，支持.NET Core & .NET 4.0 &.NET5 ,成熟的ORM框架</cite>
</div>
<div class="site-download">
    <a href="https://github.com/sunkaixuan/SqlSugar" class="layui-inline site-down" target="_blank">
        <cite class="layui-icon"></cite>
        Git下载
    </a>
    <a href="https://gitee.com/sunkaixuan/SqlSugar" class="layui-inline  site-down" style="width:20px;border:none; margin:0; padding:0" target="_blank">
        &nbsp;
    </a>
    <a href="https://gitee.com/sunkaixuan/SqlSugar" class="layui-inline site-down" target="_blank">
        <cite class="layui-icon"></cite>
        Gitee下载
    </a>
</div>
 
<div class="site-version">
    <span>当前版本：<cite class="site-showv">最新</cite></span>
    <span>下载量：<em class="site-showdowns">@Convert.ToInt32(downCount * 5)</em></span>
</div>
<div class="site-banner-other" style="bottom:0 !important">
    <iframe src="http://ghbtns.com/github-btn.html?user=sunkaixuan&repo=sqlsugar&type=watch&count=true" width="105" height="20"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=sunkaixuan&repo=sqlsugar&type=fork&count=true" width="105" height="20"></iframe>
</div>