
@{
    ViewBag.Title = "激活您的邮箱";
    Layout = "~/Views/Shared/_Layout_BBS.cshtml";
}

<ul class="layui-form">
    <li class="layui-form-li"> <label for="activate">您的邮箱：</label> <span class="layui-form-text">610262374@qq.com <em style="color:#c00;">（尚未激活）</em> </span> </li>
    <li class="layui-form-li" style="margin-top: 20px; line-height: 26px;">
        <div>
            <a class="layui-form-a" style="color:#4f99cf;" id="LAY-activate" href="javascript:;" email="610262374@qq.com">重新发送邮件</a>，或者
        </div>
        <div>
            2. 如果您始终没有收到我们发送的邮件，请注意查看您邮箱中的垃圾邮件；
        </div>
        <div>
            3. 如果你实在无法激活邮件，您还可以联系：610262374@qq.com
        </div>
    </li>
</ul>

