
@{
    ViewBag.Title = "Ask";
    Layout = "~/Views/Shared/_Layout_BBS.cshtml";
}

<div class="main layui-clear">
    <h2 class="page-title">发表问题</h2>
    <div class="layui-form layui-form-pane">
        <form action="" method="post">
            <div class="layui-form-item">
                <label for="L_title" class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" id="L_title" name="title" required="" lay-verify="required" autocomplete="off" class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                    <textarea id="L_content" name="content" required="" lay-verify="required" placeholder="请输入内容" class="layui-textarea fly-editor" style="height: 260px;"></textarea>
                </div>
                <label for="L_content" class="layui-form-label" style="top: -2px;">描述</label>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">所在类别</label>
                    <div class="layui-input-block">
                        <select lay-verify="required" name="class"> <option></option> <optgroup label="Layui相关"> <option value="0">Layui</option> <option value="2">Layer弹层</option> <option value="3">LayIM即时通讯</option> </optgroup> <optgroup label="其它交流"> <option value="100">技术闲谈</option> <option value="101">建议反馈</option> <option value="168">官方公告</option> </optgroup> </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">悬赏飞吻</label>
                    <div class="layui-input-block">
                        <select name="experience"> <option value="5">5</option> <option value="20">20</option> <option value="50">50</option> <option value="100">100</option> </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">人类验证</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_vercode" name="vercode" required="" lay-verify="required" placeholder="请回答后面的问题" autocomplete="off" class="layui-input" />
                </div>
                <div class="layui-form-mid">
                    <span style="color: #c00;">&quot;1 3 2 4 6 5 7 ___&quot; 请写出&quot;____&quot;处的数字</span>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit="">立即发布</button>
            </div>
        </form>
    </div>
</div>

